<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Wego DB {% block title %}{% endblock %}</title>

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}{% endblock %}
            </header>

            <section>
                {% block content %}{% endblock %}
            </section>

            <footer>
                {% block footer %}{% endblock %}
            </footer>
        {% endblock %}
        {% block foot %}{% endblock %}
    </body>
</html>