#------------------------------------
# Directories
#------------------------------------

.idea

#------------------------------------
# Wild Cards
#------------------------------------

#------------------------------------
# Files
#------------------------------------

notes.txt