{% extends 'layouts/base.twig' %}

{% block title %}
    | Login
{% endblock %}

{% block body %}
    <h1>Login</h1>
    {{ validation_errors() }}
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    {{ form|raw }}
{% endblock %}